// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px) and (max-width: 1588px)"
mq-large = "screen and (min-width: 1589px)"

//body
body-background = #fff

// Color
color-background = rgba(255, 255, 255, 0.1)
color-sidebar = #2A2A2A
color-font = #555
color-match = #FC615D

// Fonts
font-sans = Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-size = 14px
line-height = 1.6em
line-height-title = 1.1em

// Sidebar
sidebar-btn-size = 45px	//单个菜单大小
mobile-max-menu = 5	// 手机端最多显示菜单个数