@import "_config"

/* 滚动条 */
::-webkit-scrollbar{width: 10px; height: 10px;}
::-webkit-scrollbar-button:vertical{display: none;}
::-webkit-scrollbar-track:vertical{background-color: black;}
::-webkit-scrollbar-track-piece{background-color: #F5F5F5;}
::-webkit-scrollbar-thumb:vertical{margin-right:10px; background-color: #999;}
::-webkit-scrollbar-thumb:vertical:hover{background-color: #666;}
::-webkit-scrollbar-corner:vertical{background-color: #535353;}
::-webkit-scrollbar-resizer:vertical{background-color: #FF6E00;}

body
  width: 100%
  margin: 0
  line-height: 1
  color: color-font
  background: body-background
  font: font-size font-sans
  -webkit-text-size-adjust: 100%

.container
  width: 100%
  position: relative
.outer
  margin-top: 50px
  padding: 0 20px
  @media mq-normal
    max-width: 768px
    margin: 0 auto
  @media mq-large
    max-width: 1020px
    margin: 0 auto
  @media mq-mobile
    margin-top: 70px
.main
  width: 100%
  margin: sidebar-btn-size + 10px auto

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear, .clearBoth
  clear: both

@import "includes/nprogress"
@import "includes/sidebar"
@import "includes/footer"